<h2>Posts By People You Follow</h2>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Post</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for post <- @posts do %>
    <tr>
      <td>
      <%= if post.user do %>
        <%= post.user.username %>
      <% else %>
        N/A
      <% end %>
      </td>
      <td><%= post.text %></td>
    </tr>
<% end %>
  </tbody>
</table>

